RewriteEngine On

# Don't rewrite index.php
RewriteCond %{REQUEST_URI} !index\.php$
# Don't rewrite existing files
RewriteCond %{REQUEST_FILENAME} !-f
# Redirect all other requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]
